
<h3> {{ title ||  'brak title'}} </h3>

<h4 appHighlight> {{ amount + step}} </h4>

<h5 appHighlight>{{currentDate | date:'shortDate'}}</h5>

<button (click)="onToggleClick()">TOGGLE</button><br>

<h4>UNLESS TEST</h4>
<p *appUnless="visible" class="red">UNLESS works!</p>

<!-- <div class="hide">{{items$ | async}}</div> -->
<hr>
<!-- <ng-container *ngIf="items$ | async as items2; else elseTemplate">
  <div *ngFor="let item of items2">
    id: {{item.id}}<Br>
    name: {{item.name | krowa:'Kanarek' }}
  </div>
  SIZE: {{items2.length}}
</ng-container>

<ng-template #elseTemplate>
  <p>wait for data</p>
</ng-template> -->

<hr>
<button (click)="myDiv.innerText = 'moj nowy tekst'">set tekst</button>

<div id="myDivForCSS" #myDiv>brak tekstu</div>

<!-- <pre>
  {{items$ | async | json}}
</pre> -->

<!-- <table>
  <ng-container *ngFor="let item of items">
    <tr (click)="opened = item">
      <td></td>
      <td>open</td>
    </tr>
    <tr *ngIf="opened === item">
      <td> EDIT FORM</td>
    </tr>
  </ng-container>
</table> -->
