<div>
  <b>PWC</b>
  |
  <button routerLink="/" mat-button>Home</button>
  |
  <a routerLink="/music" mat-button>Music</a>
  |
  <a routerLink="/profile" mat-button>Profile</a>
  |
  <a routerLink="/counter" mat-button>Counter</a>
  <div class="right">

    <ng-container *ngIf="userService.user$ | async as user; else elseTemplate">
      <a color="primary" mat-button routerLink="/profile" >{{user.name}}</a>
      <a color="primary" mat-button (click)="userService.logout().subscribe()" >logout</a>
    </ng-container>
    <ng-template #elseTemplate>
      <a color="primary" mat-button (click)="userService.loginDialog().subscribe()">Login</a>
    </ng-template>

  </div>
</div>

<hr>

