<div *ngIf="artist; else loading">
  <h4>{{artist.name}}</h4>
  <img appImgError [src]="artist.img | imagesBaseUrl">

  <hr>
  <!-- CONTENT PROJECTION -->
  <ng-content></ng-content>

  <div class="top-menu">
    <ng-content select="[top]"></ng-content>
  </div>

</div>

<ng-template #loading>
  Loading artist...
</ng-template>
