
<div *ngIf="_artist; else loading">

  <form [formGroup]="artistForm" (submit)="onSubmit()">
    <div>
      <label>Name</label>
      <input formControlName="name" />
    </div>
    <div>
      <label>Image</label>
      <input formControlName="img" />
    </div>
    <ng-content></ng-content>
    <button type="button" (click)="artistForm.patchValue(_artist)">reset</button>
    <button type="submit" [disabled]="artistForm.invalid">SAVE</button>
  </form>

</div>

<ng-template #loading>
  Loading artist...
</ng-template>
