<h2>Artists</h2>
<nav>
  <ul>
    <li *ngFor="let artist of artists$ | async">
      <a [routerLink]="['view', artist.id]">{{ artist.name }}</a>
    </li>
    <li>
      <a routerLink="view/404">artist 404</a>
    </li>
  </ul>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
