
<button (click)="onDownClick()">Down</button>

<span>{{ (amount$ | async) || 0 }}</span>

<button (click)="onUpClick()">UP</button>

<br>
Step: <input type="number" [value]="step$ | async" (keyup)="onStepChange($event)" />
Status: {{ status$ | async}}

<h3>Items</h3>

<div *ngFor="let item of items$ | async">
  {{item.name}} - <b>{{item.amount}}</b>
</div>
