<h4>Artist</h4>

<ng-container *ngIf="artist$ | async as artist">
  <app-artist *ngIf="!isEdit" [artist]="artist">
    <button (click)="isEdit = true" *appHasRole="'admin'">EDIT</button>
    <button top (click)="onDelete(artist.id)" *appHasRole="'admin'" >DELETE</button>
  </app-artist>

</ng-container>

<app-artist-form *ngIf="isEdit" (save)="onArtistSave($event)" [artist]="artist$ | async">
  <button (click)="isEdit = false">cancel</button>
</app-artist-form>
