<form [formGroup]="loginForm"  (submit)="onSubmit()">

  <h1 mat-dialog-title>Login</h1>
  <mat-dialog-content>

    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
    <pre>
{{loginForm.get('username').errors | json}}
    </pre>
    <div *ngIf="loginForm.get('username').hasError('required')">Username jest wymagany</div>
    <div *ngIf="loginForm.get('username').hasError('usernameTaken')">Ten login już jest zajęty</div>
    <div>{{errorMessage}}</div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="dialog.close()" type="button">cancel</button>
    <button mat-button type="submit" [disabled]="loginForm.invalid" >Login</button>
  </mat-dialog-actions>
</form>
